.pf {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  max-width: 650px;
  margin-inline: auto;
  margin-top: 150px;
}

.nav-friends {
  display: flex;
  align-self: center;
  justify-content: start;
  margin-inline: 40px;
}

.nav-friends button {
  position: relative;
  background-color: transparent;
  border: none;
}

.nav-friends button::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(231, 231, 231);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-friends button:hover::before,
.nav-friends button:focus::before {
  transform: scaleX(1);
}

#add-friend {
  margin-left: auto;
}

#add-friend a {
  display: flex;
  align-items: center;
}

.nav-profile {
  align-self: center;
  display: flex;
}

.friend-pfn {
  font-size: var(--fs-24);
}

.about-me {
  margin-top: 30px;
}

.about-me .chunky {
  text-align: center;
}

.no-dec {
  text-decoration: none;
  color: white;
}

.online,
.pending,
.add-friend-wrapper {
  margin-inline: 40px;
}

.online h3,
.pending h3 {
  color: var(--light-grey);
  font-size: var(--fs-12);
  margin-bottom: 8px;
}

.fr-layout {
  display: flex;
  flex-direction: column;
}

.fr {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border-top: 1px solid var(--light-grey);
}

.add-friend-wrapper p {
  font-size: var(--fs-14);
  color: var(--light-grey);
}

.friend-add {
  background-color: var(--dark-grey);
  border: none;
  border-radius: 10px;
  margin-top: 15px;
}

.friend-add .search-bar {
  padding-inline: 15px;
}

.friend-add button {
  margin-right: 15px;
  background-color: whitesmoke;
  color: var(--black);
  font-weight: 600;
  border: none;
  border-radius: 10px;
  padding: 10px 12px;
}

.friend-add button:hover {
  color: whitesmoke;
  background-color: var(--grey);
}

.focus {
  background-color: var(--grey);
}

.focus > #view {
  display: block;
  background-image: url(../assets/arrowBold.svg);
}

.ch-wrapper:hover > #view {
  display: block;
}

#view {
  display: none;
  background-image: url(../assets/arrowLinear.svg);
}

#view:hover {
  background-image: url(../assets/arrowBold.svg);
}

#remove {
  background-image: url(../assets/userRemoveLinear.svg);
}

#remove:hover,
#remove:focus {
  background-image: url(../assets/userRemoveBold.svg);
}

#warn {
  background-image: url(../assets/warnLinear.svg);
}

#warn:hover,
#warn:focus {
  background-image: url(../assets/warnBold.svg);
}
