.ch.user.channel-header {
  background-color: var(--dark-grey);
  padding-inline: var(--pad-inline);
}

.send-msg-wrapper {
  background-color: var(--dark-grey);
}

.channel-view {
  display: flex;
}

.ch-chat {
  flex: 1;
  padding: 10px var(--pad-inline);
  height: calc(100vh - var(--gr-first) - var(--gr-last));

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ch-chat:first-child div {
  margin-top: auto;
}

.ch-chat-sidebar {
  background-color: var(--dark-grey);
  padding: 10px 20px;
  width: 100%;
  max-width: 350px;
}

.ch-chat-sidebar .list {
  margin-top: 20px;
}

.ch-chat-sb-title {
  font-size: var(--fs-14);
  color: var(--light-grey);
}

.search.friend-add.ch-chat-sb,
.search-bar.ch-chat-sb {
  margin-block: 5px;
  padding-block: 3px;
  background-color: var(--grey);
}

.msg-wrapper {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: auto auto;
}

.msg-wrapper img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.msg-user {
  display: flex;
  gap: 10px;
  align-items: center;
}

.msg-user p {
  color: var(--light-grey);
}

.msg-body {
  grid-column: 2 / 3;
}

.send-msg-wrapper {
  display: flex;
  align-items: center;
  padding-inline: var(--pad-inline);
}

.send-msg-wrapper input {
  flex: 1;
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
  padding-block: 8px;
  font-size: var(--fs-14);
  border-bottom: 1px solid white;
  margin-right: 24px;
}

nav.send-msg-nav {
  display: flex;
  align-self: center;
  gap: 10px;
}

.ch-create {
  display: flex;
  margin-bottom: 5px;
}

.channel-create {
  display: flex;
  background-color: var(--grey);
  border: none;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.channel-create input {
  border: none;
  outline: none;
  background-color: var(--grey);
  font-size: var(--fs-15);
  padding-inline: 5px;
}

.channel-create button {
  background-color: whitesmoke;
  color: var(--black);
  font-weight: 600;
  border: none;
  border-radius: 10px;
  padding: 5px 8px;
}

.channel-create button:hover {
  color: whitesmoke;
  background-color: var(--dark-grey);
}

.select-wrapper {
  margin-block: 15px;
}

#add-user-ch:hover,
#remove-user-ch:hover {
  font-weight: bold;
  cursor: pointer;
}

#add-user-ch,
#remove-user-ch {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  border: none;
  outline: none;
  background-color: transparent;
}

#add-user-ch {
  color: rgb(4, 167, 4);
}

#remove-user-ch {
  color: rgb(245, 65, 65);
}

#manage {
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}

#delete-channel {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  color: rgb(245, 65, 65);
  margin-bottom: 10px;
}

#delete-channel p {
  color: rgb(245, 65, 65);
}

#manage-mode {
  color: black;
  border: none;
  border-radius: 5px;
  padding: 2px 4px;
  outline: none;
  margin-left: 5px;
}

#manage-mode option {
  color: black;
}

#add {
  background-image: url(../assets/addLinear.svg);
}

#delete-ch {
  background-image: url(../assets/deleteLinear.svg);
}

#delete-channel:hover {
  font-weight: bold;
}

#delete-channel:hover > #delete-ch,
#delete-channel:focus > #delete-ch {
  background-image: url(../assets/deleteBold.svg);
}
