.sidebar {
  --col-grid: 20px;
  display: grid;
  grid-template-rows:
    var(--gr-first) 76px calc(100vh - var(--gr-first) - var(--gr-last) - 76px)
    var(--gr-last);

  background-color: var(--dark-grey);
}

.category,
.ch.user {
  padding-inline: var(--col-grid);
}

.category {
  align-self: center;
}

.search {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-inline: var(--col-grid);
  margin-bottom: 15px;
  padding-block: 12px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.list {
  display: flex;
  flex-direction: column;
}

.ch-wrapper {
  display: grid;
  background-color: transparent;
  border: none;
  grid-template-columns: auto 1fr auto;
  text-align: start;
  padding: 10px var(--col-grid);
  gap: 15px;
}

.ch-wrapper:hover,
.ch-wrapper:focus {
  background-color: var(--grey);
}

.ch {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
}

.ch-name {
  font-size: var(--fs-16);
}

.last-msg,
.status {
  font-size: var(--fs-14);
}

.ch-info {
  font-size: var(--fs-14);
  text-align: right;
}

.ch.user {
  background-color: var(--black);
}

#search {
  background-image: url(../assets/searchLinear.svg);
}

#search:hover,
#search:focus {
  background-image: url(../assets/searchBold.svg);
}
