.sidebar {
  display: grid;
  grid-template-rows: var(--gr-first) 4fr var(--gr-last);

  background-color: var(--dark-grey);
}

.category,
.ch-list-wrapper,
.ch.user {
  padding-inline: 20px;
}

.category {
  align-self: center;
}

.search {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-block: 12px;
  margin-bottom: 20px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.list {
  display: grid;
  gap: 10px;
}

.ch-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
}

.ch {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
}

.ch-name {
  font-size: var(--fs-16);
}

.last-msg,
.status {
  font-size: var(--fs-14);
}

.ch-info {
  font-size: var(--fs-14);
  text-align: right;
}

.ch.user {
  background-color: var(--black);
}

#search {
  background-image: url(../assets/searchLinear.svg);
}

#search:hover,
#search:focus {
  background-image: url(../assets/searchBold.svg);
}
